.content-contato{
  margin-top: 60px;
  padding: 50px;
  display: grid;
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content-contato2{
  height: 500px;
  width: 900px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 4px #0000001a;
}

.titleContato{
  display: flex;
  justify-content: center;
}

.content-contato3{
  width: 900px;
  height: 420px;
  display: flex;
  justify-content: center;
}

.formularioDescricao{
  padding:10px ;
  width: 20vw;
  margin-top: 30px;
}

.formularioContato{
  padding:10px ;
  width: 20vw;
  display: flex;
  align-items: center;
}

.descricaoFormulario{
  display: flex;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  margin-left: 100PX;
}

.inputForm{
  height: 25px;
  border: 1px solid #bebebe;
  width: 200px;
  border-radius: 2px;
  font-size: 17px;
}

.botaoEnviar{
  margin: 20px;
  width: 110px;
  height: 30px;
  margin-left: 50px;
}

.botaoEnviar:hover{
  background-color: #4b00bc;
  color: white;
}