footer{
    margin-top: 200px;
    background-color:#4c00bc;
    padding: 50px;
    height: 150px;
    color:white;
}

img{
    width: auto;
    height: auto;
    padding: 10px;
}

.rodape{
    margin-top: 20px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodapeTopicos{
    padding-top: 10px;
    width: 400px;
}

.rodapeTopic{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.no{
    background-color:#4c00bc;
}